DOMAIN=localhost
PORT=3300

# Database Configuration
POSTGRES_DB=DeckCard_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_secure_password
POSTGRES_DB_HOST=db
POSTGRES_DB_PORT=5432

# Django Configuration
DJANGO_SECRET_KEY='django-key'
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=test.com,localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:3300
DJANGO_API_URL=http://backend:8800

# Environment
## development,builder,production
NODE_ENV=development
## development,production
PYTHON_ENV=development