DOMAIN=deckcards.lussocastelli.com
PORT=3300
# Database Configuration
POSTGRES_DB=DeckCard_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_secure_password
DB_HOST=db
DB_PORT=5432
# Django Configuration
SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,lussocastelli.com
# Environment
# development,builder, production
NODE_ENV=development
PYTHON_ENV=development